.contact_form {
  margin-top: 85px;
  margin-right: auto;
  margin-left: auto;

  &__heading {
    text-align: center;
    padding-bottom: 52px;
  }
  .__main_form {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;

    footer {
      margin-top: 64px;
      
      .__link{
        margin-right: 16px;
      }
    }
  }
}
