@import "../../../styles/mixins";

.contact_form {
  margin-top: 85px;
  margin-right: auto;
  margin-left: auto;

  &__heading {
    text-align: center;
    padding-bottom: 52px;
  }
  .__main_form {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;

    footer {
      margin-top: 64px;

      @include mobile {
        flex-wrap: wrap;
      }
      .button_default {
        @include mobile {
          margin-bottom: 30px;
        }
      }

      .__link {
        margin-right: 16px;
      }
    }
  }
}
