@mixin fontSettings($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  @content;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
