:root {
  --font-family: "Inter", sans-serif;
  --primary-color: #dbb756;
  --light-grey: #959ead;
  --text-black: #161c2d;
  --body-black: #171a23;
  --post-background: #21242d;
  --body-black-darker: #13161f;
  --text-color: #fff;
  --text-color-faint: #ffffffa6;
  --border-color: #ffffff1a;
}
