@import "../../../styles/mixins";

.app_footer {
  padding-top: 100px;
  padding-bottom: 100px;

  @include mobile {
    display: block !important;
  }

  &[data-has-footer-spacer="true"] {
    border-top: 1px solid var(--border-color);
  }
  .__left {
    .__heading {
      margin-bottom: 32px;
      line-height: 1.31;
    }
  }
  .__social_media_links {
    @include mobile {
      margin-top: 100px;
    }
    .__link {
      margin-left: 16px;
      height: 40px;
    }
  }
}
