@import "../../../styles/mixins";

.home_brands {
  > .home_brand__heading {
    display: none;
    @include mobile {
      display: block;
      margin-bottom: 30px;
    }
  }
}

// brand sections
.home_brand {
  margin-bottom: 100px;
  width: 100%;
  justify-content: space-between;

  @include mobile {
    display: block !important;
  }

  &__image_rapper {
    width: 165px;
    height: 340px;
    background: var(--primary-color);
    margin-right: 48px;
    flex-shrink: 0;
    background-image: url("https://i.pinimg.com/736x/b1/91/a7/b191a7a7c4381b406bcb9139fdf4c411.jpg");
    background-size: cover;
    background-position: center;

    @include mobile {
      width: 100%;
      height: 140px;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 30px;
    }
  }
  &__text_rapper {
    ._title {
      text-transform: uppercase;
      letter-spacing: 1.625px;
      margin: 16px 0;
      &._small {
        font-size: 16px;
        font-weight: 500;
      }
    }
    ._description {
      color: var(--text-color-faint);
      line-height: 1.56;
      letter-spacing: 1.625px;
      font-weight: 300;
    }
  }
  &__heading {
    line-height: 1.74;
  }
  ._left {
    flex-shrink: 0;
    max-width: 696px;
    @include mobile {
      display: block !important;
    }
  }
  ._right {
    width: 306px;
    @include mobile {
      display: none;
    }
    ._box {
      margin: 148px;
      @include mobile {
      }
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}
